::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

/* HEADER */

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo-k {
    vertical-align: top;
}

.menu ul {
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: top;
    padding-top: 10vh;
    text-align: left;
}

.nav-link {
    color:black;
    font-size: 12px;
}

.nav-item {
    margin-bottom: -1vh;
}

/* FOOTER */

.rodape {
    background-image: url("img/bg-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
    font-weight: 300;
}

.textos-footer {
    margin-bottom: 3vh;
}

.copyright-footer {
    margin-bottom: -0.1vh;
}