::-webkit-scrollbar {
    display: none;
}

html {
    font-family: 'IBM Plex Mono', monospace;
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo-k {
    vertical-align: top;
}

.menu ul {
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: top;
    padding-top: 50px;
    text-align: left;
}

.nav-link {
    color:black;
    font-size: small;
}

.titulo-home {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
    font-size: 56pt;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20vh;
}

.linha-scroll-inicio {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-titulo {
    background-image: url("img/bg-inicio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sessao-01 {
    padding-top: 20vh;
}

.titulo-sessao {
    font-weight: bold;
}

.subtitulo-sessao {
    color: #C4C4C4;
}

.texto-sessao {
    font-weight: 200;
}

.texto-sessao-01-side {
    font-weight: 200;
    margin-top: -2vh;
}

.sessao-02 {
    padding-top: 10vh;
}

h4 {
    font-weight: 600;
}

.sessao-03 {
    padding-top: 10vh;
}

.img-futuro {
    margin: -15px;
    width: 100%;
}

.espacador {
    padding-top: 5vh;
    width: 100%;
    padding-bottom: 5vh;
}

.sessao-04 {
    padding-top: 10vh;
    background-color: #1C1C1C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explore {
    color: white;
}

.bg-botoes-explore {
    background-image: url("img/bg-botoes-explore.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoes-explore {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
    border-style: outset;
    border: black;
    width: 100%;
}

.botoes-explore-linha1 {
    margin-top: -2vh;
}

.botoes-explore-linha2-3 {
    margin-top: 2vh;
}

.detalhes-side-explore {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5rem;
}

.bottom-explore {
    width: 100%;
}

.rodape {
    background-image: url("img/bg-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    display: flex;
}